@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

.animated-text-landing {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0 40px;
    color: #fff;
    letter-spacing: 2px;
    flex-grow: 1;
}

.main-landing-main {
    background: linear-gradient(135deg, #ecd0db, #ffcc00);

}

.spin-logo-class {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    max-height: 178px;
    min-height: 142px;
    position: relative;
    opacity: .7;
}

.background-image-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/library6.png");
    background-size: contain;
    background-color: #fff;
    filter: blur(3px);
    z-index: -1;
}

.spin-logo-class .svg-carrier-div {
    align-self: center;
    flex-grow: 2;
}

.spin-logo-class .box {
    width: 100;
    height: 100;
    border-radius: "50%";
    background-color: #ffffff;
    margin: "20px auto";
}

.home-cover-wrapper-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-cover-buttons {
    padding-left: 10px;
}

#logo {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #logo text {
    stroke: black;
    font-size: 60px;
    stroke-width: 2px;
    font-family: "Poppins", sans-serif;
    /* stroke-dasharray: 10; */
    /* stroke-dashoffset: 20px; */
    /* fill: transparent; */
    animation: fillColor 0.5 infinite alternate;
    animation: textAnimate 2s infinite alternate;
    /* fill: black; */
    /* animation:fillColor 2s forwards infinite alternate; */
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      /* stroke-dashoffset: 230px; */
      fill: transparent;
    }
    100% {
      stroke-dasharray: 50% 0;
      /* fill: black; */
    }
  }
  
  @keyframes fillColor {
    0% {
      fill: yellow;
    }
    50% {
      fill: blue;
    }
    100% {
      fill: white;
    }
  }
  